
* {
    user-select:none;
    -ms-user-select:none;
    outline:0;
    margin:0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
  
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }

  #start-btn {
    background-color: transparent !important;
    background-image: none !important;
    position: fixed;
    bottom: 15%;
    left: 5%;
    border: none;
    width:200px;
    height:100px;
    font-size: 50px;
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:700;
    font-style: normal;
    text-shadow: 3.536px 3.536px 20px rgba(92, 82, 212, 0.15),
    2.828px 2.828px 5px rgba(43, 39, 89, 0.07),
    -4.096px -2.868px 20px rgba(255, 255, 255, 0.25);
  }
  
  #btn-svg {
    padding-right: 25px;
    width: 45px;
    height: 45px;
    fill: white;
    background-size: 100% 100%;
  }

  #mdti {
    position: absolute;
    left:10%;
    top:20%;
    line-height:70%;
    font-size:80px;
    color:#7673ff;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:900;
    font-style: normal;
    text-shadow: 3.536px 3.536px 20px rgba(92, 82, 212, 0.15),
    2.828px 2.828px 5px rgba(43, 39, 89, 0.07),
    -4.096px -2.868px 20px rgba(255, 255, 255, 0.25);
  }

  #A1 {
    font-size: 20px;
  }

  

  .st0 {
    fill:none;
    stroke:white; 
    stroke-width:10; 
    stroke-miterlimit:10;
  }